<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Đăng nhập Admin</h2>
        <form method="post" class="mt-3">
            <div class="text-danger">@ViewBag.Error</div>
            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>
</body>
</html>
