@using WebBus.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Shelly - Website">
    <meta name="author" content="merkulove">
    <meta name="keywords" content="">
    <link rel="icon" href="~/Assets/Student/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="~/Assets/Student/css/main.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-content d-flex flex-wrap align-items-center">
                    <div class="logo">
                        <a href="/Student/Home/Index" title="">
                            <img src="~/Assets/Student/img/logo.png" alt="" srcset="~/Assets/Student/img/01_Logo_2x.png 2x">
                        </a>
                    </div>
                    <!--logo end-->
                    <ul class="contact-add d-flex flex-wrap">
                        <li>
                            <div class="contact-info">
                                <img src="~/Assets/Student/img/icon1.png" alt="">
                                <div class="contact-tt">
                                    <h4>Hot line</h4><span>0204 3881 217</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="contact-info">
                                <img src="~/Assets/Student/img/icon2.png" alt="">
                                <div class="contact-tt">
                                    <h4>Mở Cửa</h4><span>T2-CN - 7 AM - 17 PM</span>
                                </div>
                            </div><!--contact-info end-->
                        </li>
                        <li>
                            <div class="contact-info">
                                <img src="~/Assets/Student/img/icon3.png" alt="">
                                <div class="contact-tt">
                                    <h4>Địa Chỉ</h4>
                                    <span>87X6+5R2, Phi Mô, Lạng Giang, Bắc Giang</span>
                                </div>
                            </div>
                            <!--contact-info end-->
                        </li>
                    </ul>
                    <!--contact-information end-->
                    <div class="menu-btn">
                        <a href="#">
                            <span class="bar1"></span>
                            <span class="bar2"></span>
                            <span class="bar3"></span>
                        </a>
                    </div>
                    <!--menu-btn end-->
                </div>
                <!-- #region Menu -->
                <div class="navigation-bar d-flex flex-wrap align-items-center">
                    <nav>
                        <ul>
                            <li><a class="active" href="/Student/Home/Index" title="">Trang Chủ</a></li>
                            @*<li><a href="/Student/Home/ThongTin" title="">Xe Bus</a></li>
                                <li><a href="/Student/TuyenSinh/ListTuyenSinh" title="">Lịch Trình</a></li>*@
                            @if (Session["HocSinh"] == null)
                            {
                                <li>
                                    <a href="/Auth/Account/Login" title="" style="color: #f37335">Đăng Nhập</a>
                                </li>
                            }
                            else
                            {
                                var user = (WebBus.Models.User)Session["HocSinh"];
                                <li><a href="@Url.Action("LichTrinhCuaBan", "LichTrinh", new { area = "HocSinh", userId = user.Id })" title="">Lịch Trình Của Bạn</a></li>
                                <li>
                                    <a href="#" title="">Xin Chào: @user.username</a>
                                    <ul>
                                        <li><a href="~/Auth/Account/DangXuatHocSinh" title="" style="color: #f37335">Đăng Xuất</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!--Liên kết fb-->
                    <ul class="social-links ml-auto">
                        <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title=""><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- #endregion -->
            </div>
        </header>
        <!--header end-->
        <div class="responsive-menu">
            <ul>
                <li><a href="index-2.html" title="">Home</a></li>
                <li><a href="about.html" title="">About</a></li>
                <li><a href="events.html" title="">Events</a></li>
                <li><a href="event-single.html" title="">Event Single</a></li>
                <li><a href="schedule.html" title="">Schedule</a></li>
                <li><a href="classes.html" title="">Classes</a></li>
                <li><a href="class-single.html" title="">Classe Single</a></li>
                <li><a href="teachers.html" title="">Teachers</a></li>
                <li><a href="teacher-single.html" title="">Teacher Single</a></li>
                <li><a href="blog.html" title="">Blog</a></li>
                <li><a href="post.html" title="">Blog Single</a></li>
                <li><a href="contacts.html" title="">Contacts</a></li>
                <li><a href="error.html" title="">404</a></li>
            </ul>
        </div>
        <!--responsive-menu end-->
        <section class="pager-section">
            <div class="container">
                <div class="pager-content text-center">
                    @*<h2>Classes</h2>
                            <ul>
                                <li><a href="#" title="">Home</a></li>
                                <li><span>Classes</span></li>
                        </ul>*@
                </div>
                <!--pager-content end-->
                <h2 class="page-titlee">THPT</h2>
            </div>
        </section>
        <!--pager-section end-->
        <section class="classes-page">
            @RenderBody()
        </section>
        <!--newsletter-sec end-->
        <footer>
            <div class="container">
                <div class="top-footer">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget-about">
                                <img src="~/Assets/Student/img/logo.png" alt="">
                                <p>Website mục đích để truyền đạt thông tin, tra cứu thông tin với học sinh THCS nhằm đăng kí các nguyện vọng vào các trường THPT Lạng Giang</p>
                            </div>
                            <!--widget-about end-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget-contact">
                                <ul class="contact-add">
                                    <li>
                                        <div class="contact-info">
                                            <img src="~/Assets/Student/img/icon1.png" alt="">
                                            <div class="contact-tt"><h4>Hot line</h4><span>0204 3881 217</span></div>
                                        </div>
                                        <!--contact-info end-->
                                    </li>
                                    <li>
                                        <div class="contact-info">
                                            <img src="~/Assets/Student/img/icon2.png" alt="">
                                            <div class="contact-tt">
                                                <h4>Mở Cửa</h4>
                                                <span>T2-CN - 7 AM - 17 PM</span>
                                            </div>
                                        </div>
                                        <!--contact-info end-->
                                    </li>
                                    <li>
                                        <div class="contact-info">
                                            <img src="~/Assets/Student/img/icon3.png" alt="">
                                            <div class="contact-tt">
                                                <h4>Địa Chỉ</h4>
                                                <span>87X6+5R2, Phi Mô,<br /> Lạng Giang, Bắc Giang</span>
                                            </div>
                                        </div>
                                        <!--contact-info end-->
                                    </li>
                                </ul>
                            </div>
                            <!--widget-contact end-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget-links">
                                <h3 class="widget-title">Điều Hướng</h3>
                                <ul>
                                    <li><a href="about.html" title="">Trang Chủ</a></li>
                                    <li><a href="classes.html" title="">Tuyển Sinh</a></li>
                                    <li><a href="teachers.html" title="">School Teachers</a></li>
                                    <li><a href="events.html" title="">Recent Events</a></li>
                                    <li><a href="blog.html" title="">Our News</a></li>
                                    <li><a href="schedule.html" title="">Schedule</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget-iframe">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.0659209780424!2d106.25984071486002!3d21.347894882182793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135696f306490bd%3A0xdfb87be8682aecfb!2zUGjDsm5nIEdpw6FvIGThu6VjICYgxJDDoG8gdOG6oW8gaHV54buHbiBM4bqhbmcgR2lhbmc!5e0!3m2!1svi!2s!4v1641024537158!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->
    </div>
    <script src="~/Assets/Student/js/bundle.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180910402-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-180910402-1');
    </script>
</body>
</html>
